body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

body canvas {
    margin: 20px;
    padding: 0;
    overflow: hidden;
}